/* IMPORTING GOOGLE FONTS STYLESHEET */

/*@import url(https://fonts.googleapis.com/css?family=Abel);
@import url(https://fonts.googleapis.com/css?family=Karla:400,400italic);*/
/*@import url(https://fonts.googleapis.com/css?family=Cardo:400,400italic,700);*/
@import url(https://fonts.googleapis.com/css?family=Average);

body {
	font-family: Average, Cardo, Karla, FoundersGroteskTextLight, Apercu, AkkuratLightLight, Abel, Helvetica, Arial, sans-serif;
	background-color: white;
	font-size: 16px;
	margin: 0px;
	padding: 0px;
	color: black;
}

/* TYPE */

h1,h2,h3,h4,h5 {
	font-weight: normal;
	margin: 0px;
	padding: 0px;
}

/*a {
	color: black;
	text-decoration: none;
	border-bottom: 1px solid black;
	padding-bottom: .2rem;
}*/

p {
	line-height: 150%;
	opacity: 0;
}

img {
	opacity: 0;
}

a, p strong {
	color: black;
	text-decoration: none;
	font-weight: normal;
	/*border-bottom: 1px solid black;
	padding-bottom: .2rem;
	margin-bottom: 2rem;*/
	background: url(_img/line.png) no-repeat;
    background-size: 150px;
    display: inline;
    background-position: bottom left;
    padding: 0 1rem .4rem 0rem;
    -webkit-transition: all 200ms ease-out;
    transition: all 200ms ease-out;
}

a:hover {
	opacity: .5
}

/* HEADER */

header {
	width: 80vw;
	padding:  5vw 10vw 0 10vw;
	position: absolute;
	top: 0px;
	text-align: center;
	margin: 0 auto;
	z-index: 9999999
}

header p {
	/*border-bottom: 1px solid black;
    display: inline;
    padding-bottom: .2rem;*/
    background: url(_img/line.png) no-repeat;
    background-size: 100%;
    display: inline;
    background-position: bottom center;
    padding: 0 1rem .4rem 1rem;
}

header span {
	display: block;
	opacity: .5;
}

/* ARTWORK */

.Artwork {
	width: 80%;
	padding: 10vw 10vw;
	text-align: center;
	position: relative;
	overflow: auto;
}

.Artwork:nth-child(1) {
	margin-top: 25vw;
}

@media (min-width: 700px) {
	.Artwork:nth-child(1) {
		margin-top: 2.5vw;
	}
}

.ArtworkImage {
	width: 80vw;
	margin: auto;
	position: relative;
}

@media (min-width: 700px) {
	.ArtworkImage {
		width: 60vw;
	}
}

.ArtworkImage img {
	max-width: 100%;
	max-height: 55vh;
	-webkit-box-shadow: 4px 36px 53px -4px rgba(0,0,0,0.16);
	-moz-box-shadow: 4px 36px 53px -4px rgba(0,0,0,0.26);
	box-shadow: 4px 36px 53px -4px rgba(0,0,0,0.26);
	/*position: relative;
  	top: 50%;
  	transform: translateY(-50%);*/
  	border-radius: 2px;
}

.ArtworkImage img.ritual {
	max-height: 72vh;
}

.ArtworkDesc {
	text-align: center;
	width:  100%;
	margin-top: 10vw;
}

@media (min-width: 700px) {
	.ArtworkDesc {
		margin-top: 5vw;
	}
}

.ArtworkDesc p {
	padding: 0;
	margin: 0;
}

/* STATEMENT */

.Statement {
	width:  80vw;
	margin: auto;
	text-align:  left;
	margin: 10vw 10vw;
	overflow: auto;
}

@media (min-width: 700px) {
	.Statement {
		width: 30vw;
		margin: 10vw 35vw;
	}
	.Statement:nth-child(1) {
		margin-top: 0vw;
	}
}

.Cv ul, .Cv li {
	list-style: none;
	padding: 0;
	margin-bottom: 1rem;
}

.Cv li p {
	margin-left: 4rem;
}

.Cv span {
	width: 4rem;
	float: left;
}

/*.Cv span::after {
	content: " \2014 ";
}*/

.Copyright {
	margin-top: 4rem;
}